<header>
    <a href="/matcher"><img src="/images/pet-matcher-logo.png" id="nav-logo"></a>
    <a class="nav-item one" href="/user"><i class="fas fa-user fa-2x"></i></i></a>
    <a class="nav-item" href="/user/pets"><i class="fas fa-paw fa-2x"></i></a>
    <a class="nav-item" href="/post"><i class="fas fa-plus fa-2x"></i></a>
    <a id="signOut" href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
</header>