<head>
    <title>Pet Matcher</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <script defer src="https://kit.fontawesome.com/3d3783a48d.js" crossorigin="anonymous"></script>
    <script defer src="/javascripts/script.js"></script>
  </head>