<header>
    <a href="/matcher"><img src="images/pet-matcher-logo.png" id="nav-logo"></a>
    <a class="nav-item"><i class="fas fa-home fa-lg"></i></a>
    <a id="signOut" href="/logout">SignOut <i class="fas fa-sign-out-alt fa-lg"></i></a>
</header>