<footer>
    <div class="mobile-nav">
        <a id="nav-user" class="mobile-nav-item" href="/user"><i class="fas fa-user fa-2x"></i><p class="hidden">your user</p></a>
        <a id="nav-userpets" class="mobile-nav-item" href="/user/pets"><i class="fas fa-paw fa-2x"></i><p class="hidden">your pets</p></a>
        <a id="nav-matcher" class="mobile-nav-item" href="/matcher"><i class="fas fa-home fa-2x"></i><p class="hidden">home</p></a>
        <a id="nav-post" class="mobile-nav-item" href="/post"><i class="far fa-plus-square fa-2x"></i><p class="hidden">make a new post</p></a>
    </div>
</footer>