<header>
    <div class="desktop-nav">
        <div>
            <a href="/matcher">
                <img class="desktop-logo" src="/images/pet-matcher-logo.png">
            </a>
            <a class="desktop-nav-item first-nav-item" href="/user"><i class="fas fa-user fa-2x"></i></a>
            <a class="desktop-nav-item" href="/user/pets"><i class="fas fa-paw fa-2x"></i></a>
            <a class="desktop-nav-item" href="/post"><i class="fas fa-plus fa-2x"></i></a>
        </div>
        <div>
            <a class="desktop-nav-item" href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </div>
    </div>
    
    <div class="mobile-nav">
        <a class="mobile-nav-item" href="/user"><i class="fas fa-user fa-2x"></i></a>
        <a class="mobile-nav-item" href="/user/pets"><i class="fas fa-paw fa-2x"></i></a>
        <a class="mobile-nav-item" href="/matcher"><i class="fas fa-home fa-2x"></i></a>
        <a class="mobile-nav-item" href="/post"><i class="fas fa-plus fa-2x"></i></a>
    </div>
</header>