<header>
    <div class="desktop-nav">
        <div>
            <a href="/matcher">
                <img class="desktop-logo" src="/images/newpetmatcherlogo128x128.png" alt="pet matcher logo">
            </a>
            <a id="desktop-nav-user" class="desktop-nav-item first-nav-item" href="/user"><i class="fas fa-user fa-2x"></i><p class="hidden">your user</p></a>
            <a id="desktop-nav-userpets" class="desktop-nav-item" href="/user/pets"><i class="fas fa-paw fa-2x"></i><p class="hidden">your pets</p></a>
            <a id="desktop-nav-post" class="desktop-nav-item" href="/post"><i class="far fa-plus-square fa-2x"></i><p class="hidden">make a new post</p></a>
        </div>
        <div>
            <a class="desktop-nav-item" href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i><p class="hidden">log out</p></a>
        </div>
    </div>
    
    <div class="mobile-nav">
        <a id="nav-user" class="mobile-nav-item" href="/user"><i class="fas fa-user fa-2x"></i><p class="hidden">your user</p></a>
        <a id="nav-userpets" class="mobile-nav-item" href="/user/pets"><i class="fas fa-paw fa-2x"></i><p class="hidden">your pets</p></a>
        <a id="nav-matcher" class="mobile-nav-item" href="/matcher"><i class="fas fa-home fa-2x"></i><p class="hidden">home</p></a>
        <a id="nav-post" class="mobile-nav-item" href="/post"><i class="far fa-plus-square fa-2x"></i><p class="hidden">make a new post</p></a>
    </div>
</header>