<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div>
            <form action="/post/add" method="POST">
                <label> Add Image:
                    <input type="file" name="attatchment">
                </label>
                <textarea>Whats up?..</textarea>
                <input type="submit" value="Post">
            </form>
        </div>
    </main>
</body>
</html>