<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
    <main>
        <article>

            <h1>How do I add PetMatcher to my homescreen?</h1>
            <br>
            <br>
            <div>
                <h2><u>IOS</u></h2>
                <br>
                <img>
                <p></p>
                <hr>
            </div>
            <div>
                <h2><u>Andriod</u></h2>
                <br>
                <img>
                <p></p>
                <hr>
            </div>
            <div>
                <h2><u>Install the app on your computer</u></h2>
                <br>
                <h3></h3>
                <img>
                <p></p>
                <hr>
            </div>
        </article>
    </main>
</body>
</html>