<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
    <main>
        <p class="hidden current-route">/howto</p>
        <article>
            <h1>How do I add PetMatcher to my homescreen?</h1>
            <br>
            <p><a href="/">&#10229; &nbsp; Go back to landing page</a></p>
            <br>
            <br>
            <div class="iosdiv">
                <h2><u>IOS</u></h2>
                <br>
                <div>
                    <img src="/images/petmatcheriostutorial1.png" alt="adding petmatcher to homescreen on ios 1">
                    <p>1. Tap the "share" icon in the bottom bar</p>
                </div>
                <div>      
                    <img src="/images/petmatcheriostutorial2.png" alt="adding petmatcher to homescreen on ios 2">
                    <p>2. Tap "Add to Home Screen"</p>
                </div>
                <div>
                    <img src="/images/petmatcheriostutorial3.png" alt="adding petmatcher to homescreen on ios 3">
                    <p>3. Keep the default URL, then tap "add" at the top</p>
                </div>
            </div>
            <hr>
            <div class="androiddiv">
                <h2><u>Andriod</u></h2>
                <br>
                <p>You should have been prompted to add it to your home screen</p>
                <p>If not...</p>
                <div>
                    <img src="images/andriodhomescreentutorial1.png" alt="adding petmatcher to homescreen on android 1">
                    <p>1. Tap the 3 vertical dots at the top</p>  
                </div>
                <div>
                    <img src="images/andriodhomescreentutorial2.png" alt="adding petmatcher to homescreen on android 2">
                    <p>2. Tap "Add to Home Screen"</p> 
                </div>
            </div>
            <hr>
            <div class="computerdiv">
                <h2><u>Install the app on your computer</u></h2>
                <br>
                <div>
                    <img src="images/chromepetmatcherhomescreen.png" alt="adding petmatcher to homescreen using chrome">
                    <p>On chrome, click the + icon in the URL bar</p>
                </div>
            </div>
        </article>
    </main>
</body>
</html>