<!DOCTYPE html>
<html>
  <%- include("partials/head") %> 
  <body>
    <main>
      <img id="landing-logo" src="/images/pet-matcher-logo.png" alt="pet matcher logo">
      <div id="landing-box">
        <h1>Welcome to Pet Matcher!</h1>
        <p>A social platform for all of your pets</p>
        <br>
        <p>Log-in with Google to continue with the web version</p> 
        <form action="/auth/google">
          <button type="submit">
            <img src="/images/Google_logo.png">
            <p>Login using google</p>
          </button>
        </form>
        <p>or</p> 
        <p>Download the app</p>
      </div>
    </main>
  </body>
</html>
