<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pet Matcher</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="apple-touch-icon" href="/images/newpetmatcherlogowithbackground192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#38bafb">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Social media for your pets.">
    <script defer src="https://kit.fontawesome.com/3d3783a48d.js" crossorigin="anonymous"></script>
    <script defer src="/javascripts/script.js"></script>
    <script defer src="/javascripts/app.js"></script>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body id="pwalanding-body">
    <main id="pwalanding-main" class="landing-main">
      <p class="hidden current-route">/</p>
      <div id="landing-header">
        <img id="landing-logo" src="/images/newpetmatcherlogo384x384.png" alt="pet matcher logo">
        <img id="landing-logo-192x192" src="/images/newpetmatcherlogo192x192.png" alt="pet matcher logo">
        <h1>Pet Matcher</h1>
        <p>A social platform for all of your pets</p>
      </div>
      <div id="landing-box">
        <form action="/auth/google">
          <button type="submit">
            <img src="/images/Google_logo.png" alt="google logo">
            <p>Login using google</p>
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
