<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div>
            <!-- Finish implimenting update pet -->
            <p>This is update pet</p>
        </div>
    </main>
</body>
</html>