<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div>
            <ul>
                <% user.pets.forEach((pet, index) => { %>
                    <%- `<li><img id="profilePic" src="${pet.avatar}"> ${pet.name} ${pet.type} ${pet.gender} ${pet.sexuality} <a href="/user/pets/update/${index}">Edit Pet</a></li>` %>
                <% }) %> 
            </ul>
            <a href="/user/pets/new">add new pet</a>
        </div>
    </main>
</body>
</html>