<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <h1>User</h1>
            <div class="card">
                <form action="/user/update?_method=PUT" method="POST">
                    <input type="submit" value="Update User" class="edit" id="updateUser">
                    <img class="largeProfilePic" src="<%= user.avatar %>">
                    <label> Name:
                        <input type="text" value="<%= user.name %>" name="name">
                    </label>
                    <!-- update this so it says "updated" for a second-->
                </form>
                <br>
                <a href="/user/posts" id="viewA">View your posts</a>
            </div>
            <div>
                <h1>Activity</h1>
            </div>
        </div>
    </main>
</body>
</html>