<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div>
            <a href="/user/pets/new">add new pet</a>
        </div>
    </main>
</body>
</html>