/*---------- imports ----------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@400;500;600&display=swap');


/*---------- defaults ----------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}
body {
  background-color: #fffdf7;
}

main {
  height: 100vh;
}
a {
  text-decoration: none;
}
p {
  font-size: 4vw;
}
input {
  font-family: "Open Sans";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
h1 {
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 7vw;
}
h2 {
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 5vw;
}
small {
  font-family: "Open Sans";
  font-size: 2.5vw;
}
textarea {
  font-family: "Open Sans";
  font-size: 3.5vw;
}

/*---------- hide scrollbar ----------*/
body::-webkit-scrollbar{
  width: 0;
  background-color: transparent;
}

/*---------- general ----------*/
.profile-pic {
  border-radius: 50px;
  object-fit: cover;
}

.small-text {
  font-size: 3vw;
}

.extra-small {
  width: 3.15em;
  height: 3.15em;
}

.small {
  width: 5em;
  height: 5em;
}

.medium {
  width: 7em;
  height: 7em;
}

.large {
  width: 9em;
  height: 9em;
}

.username {
  display: inline-block;
  font-size: 3.5vw;
}

.action-button {
  background-color: white;
  color: rgb(0, 110, 255);
  border: 1px solid rgb(0, 110, 255);
  padding: .2em .6em;
  border-radius: 2px;
}

.warning-action-button {
  background-color: white;
  color: rgb(255, 56, 82);
  border: 1px solid rgb(255, 56, 82);
  padding: .2em .6em;
  border-radius: 3px;
}

.inline-text {
  font-size: 3.5vw;
  display: inline-block;
}

.center-text {
  text-align: center;
}

.hidden {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#filler {
  height: 8em;
}

/*---------- landing page ----------*/
#landing-logo {
  display: block;
  margin: 0 auto;
  padding: 5vh 0;
  padding-bottom: 3vh;
  width: 40%;
}

#landing-header {
  text-align: center;
  color: black;
}

#landing-header p {
  margin-bottom: 3vh;
}

#landing-box {
  margin: 0 auto;
  padding: 2vh;
  width: 85%;
  color: white;
  font-size: 1.25em;
  text-align: center;
  border-radius: 3px;
  background: #5a96cef3;
  background: rgb(90,150,206);
  background: linear-gradient(141deg, rgba(90,150,206,0.9290091036414566) 46%, rgba(0,174,255,0.6685049019607843) 88%);
  box-shadow: 0px 0px 7px rgba(39, 39, 39, 0.075);
  text-shadow: 0px 0px 3px grey;
}

#landing-box p {
  font-size: 1.25em;
  margin-top: 1vh; 
  margin-bottom: 1vh; 
}

#landing-box button {
  background-color: white;
  width: auto;
  padding: .5em 2em;
  display: inline-flex;
  border: 1px solid black;
  border-radius: 50px;
}

#landing-box button img {
  border-radius: 50px;
  width: 5vh;
}


/*---------- desktop header ----------*/
.desktop-nav {
  background: #5a96cef3;
  background: rgb(90,150,206);
  background: linear-gradient(156deg, rgba(90,150,206,0.9290091036414566) 46%, rgba(0,174,255,0.8841911764705882) 94%);
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: space-between;
  padding: .75em 0em;
  color: white;
  box-shadow: 0px 0px 7px rgba(39, 39, 39, .5);
  z-index: 2;
}

.desktop-logo {
  position: fixed;
  width: 7.5em;
  margin: 0vh 2vh;
  margin-top: -.7vh;
}

.desktop-nav-item {
  color: white;
  font-size: 1.5em;
  margin: 0em 2em;
  text-shadow: 0px 0px 1px black;
}

.first-nav-item {
  margin-left: 8em;
}


/*---------- mobile header ----------*/
.mobile-nav {
  background-color: #5a96cef3;
  background: rgb(90,150,206);
  background: linear-gradient(141deg, rgba(90,150,206,0.9290091036414566) 46%, rgba(0,174,255,0.8841911764705882) 86%);
  width: 96%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .75em 0em;
  margin: 0 auto;
  margin-bottom: 1.9vh;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(39, 39, 39, .5);
  z-index: 2;
}

.mobile-nav-item {
  color: white;
  font-size: 2vh;
  text-shadow: 0px 0px 1px black;
}


/*---------- post cards ----------*/
.post-card {
  width: 100%;
  margin: 7vh 0vh 11vh 0vh;
  background-color: white;
  box-shadow: 0px 0px 9px #57575742;
}

.post-pic {
  width: 100%;
}

.post-info {
  padding: 1em;
}

.post-header p {
  font-family: "Quicksand";
  font-weight: 500;
  display: inline-block;
  font-size: 4vw;
}

.post-description {
  width: 70%;
  margin: 2em auto;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25em;
}

.post-actions p {
  font-family: "Quicksand";
  font-weight: 400;
}

.reactions-container {
  display: flex;
}

.reaction {
  margin-right: 4vw;
  text-align: center;
}

.reaction p {
  font-size: 3.5vw;
}

.emoji-button {
  padding: .5em;
  width: 8vw;
  height: 8vw;
  background-color: transparent;
  border: none;
  border-radius: 50px;
}

.emoji-button a {
  font-size: 6vw;
}

.comments-length {
  font-size: 3vw;
  color: rgb(68, 68, 68);
  text-decoration: none;
  display: inline-block;
}

.fa-comment-dots {
  font-size: 5.5vw;
  color: rgb(68, 68, 68);
  padding-bottom: .2em;
  border-radius: 1px;
}

.fa-comment-dots:hover {
  border-bottom: 2px solid #29a3f5e5;
  border-top: 2px solid transparent;
}

.nohover {
  opacity: .5;
}

.nohover:hover {
  border-bottom: none;
  border-top: none;
}

/*---------- reaction funcitonality ----------*/
.smileReacted,.loveReacted,.laughReacted,.cryReacted {
  background: rgb(78,209,245);
  background: linear-gradient(126deg, rgba(78,209,245,0.923406862745098) 16%, rgba(0,157,255,1) 93%);
}

.emoji-button:hover {
  cursor: pointer;
  animation: userHover .25s forwards;
}

@keyframes userHover {
  from {transform: translateY(0);}
  to {transform: translateY(-10px)}
}

.user-post {
  opacity: .5;
}

.user-post:hover {
  background-color: transparent;
  cursor: none;
  pointer-events: none;
}

/*---------- comments page ----------*/
.comment-box {
  border-radius: 3px;
  padding: .5em;
  display: block;
  margin: 0 auto;
  width: 100%;
  resize: vertical;
  box-shadow: 0px 0px 7px rgba(39, 39, 39, 0.2);
  outline: none;
}

.comment-area {
  padding: 0em 2em;
}

.comment-button {
  display: block;
  width: 30%;
  margin-top: 1em;
  margin-left: auto;
  background-color: rgb(75, 153, 255);
  border-color: rgb(75, 153, 255);
  box-shadow: 0px 0px 7px rgba(39, 39, 39, 0.4);
  color: white;
  margin-bottom: 2em;
}

.comments-container {
  margin: 3em 0em;
  margin-bottom: 8em;
  padding: 0 1em;
}

.comment-content {
  width: 80%;
  margin: 0 auto;
}

/*---------- new post page ----------*/
.new-post-card {
  padding-top: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.new-post-image-container {
  background: rgb(55,204,245);
  background: linear-gradient(180deg, rgba(55,204,245,0.923406862745098) 16%, rgba(0,174,255,0.861782212885154) 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin: 0 1em;
  text-shadow: 0px 0px 3px grey;
  margin-bottom: 1em;
}

.new-post-image-container p {
  margin-bottom: 2vh;
}

.fa-camera-retro {
  color: white;
  margin-bottom: 0;
}

.file-input + label {
  font-size: 6.5vw;
  width: 100%;
  color: white;
  border-radius: 3px;
  height: 18vw;
  padding: .2em 0em;
  cursor: pointer;
  overflow: hidden;
}

.file-input:focus + label {
  outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.file-input + label * {
	pointer-events: none;
}

.new-post-text-box {
  border-radius: 3px;
  padding: .5em;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  width: 80%;
  resize: vertical;
  box-shadow: 0px 0px 7px rgba(39, 39, 39, 0.2);
  outline: none;
}

.new-post-button {
  display: block;
  width: 100%;
  margin: 0em auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: #38bafb;
  border-color: #38bafb;  
  color: white;
  font-size: 4vw;
  box-shadow: 0px 0px 7px rgba(39, 39, 39, 0.2);
  text-shadow: 0px 0px 1.5px grey;
}

/*---------- user pets page ----------*/
#user-pets-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: white;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0px 0px 7px rgba(39, 39, 39, 0.2);
}

#user-pets-header div {
  display: flex;
  align-items: baseline;
}

#add-pet-button {
  color: white;
  border-radius: 2px;
  padding: .5em;
  background: rgb(0,174,255);
  background: linear-gradient(90deg, rgba(0,174,255,1) 44%, rgba(55,204,245,1) 100%);
  box-shadow: 0px 0px 7px rgba(39, 39, 39, 0.26);
}

.pet-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  list-style: none;
  background: white;
  margin: 2em;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0px 0px 7px rgba(39, 39, 39, 0.2);
}

.pet-header {
  display: flex;
  justify-content: space-between;
}

.pet-title {
  display: flex;
  align-items: baseline;
}

.pet-description {
  margin-top: 2em;
}

#pet-list-container {
  padding-bottom: 8em;
}

.pet-description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*---------- media queries ----------*/
@media screen and (max-width: 600px) {
  hr {
    width: 90%;
    margin: 0 auto;
  }
}

/*---------- fix cat emoji offset bug ----------*/
@media screen and (min-width: 220px) {
  .emoji-button a {
    position: relative;
    bottom: 6px;
    right: 3px;
  }
}
@media screen and (min-width: 360px) {
  .emoji-button a {
    bottom: 4px;
  }
}
@media screen and (min-width: 425px) {
  .emoji-button a {
    bottom: 3px;
    right: 2px;
  }
}
@media screen and (min-width: 490px) {
  .emoji-button a {
    bottom: 2px;
    right: 1px;
  }
}
/*-------------------------------*/


@media screen and (min-width: 600px) {

  /*---------- general ----------*/
  main {
    width: 60em;
    margin: 0 auto;
  }

  .username {
    font-size: 2em;
  }

  .inline-text {
    font-size: 1.6em;
  }

  .small-text {
    font-size: 1.4em;
  }

  p {
  font-size: 1.6em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.75em;
  }

  small {
    font-size: .65em;
  }

  textarea {
    font-size: 1.6em;
  }

  /*---------- landing page ----------*/
  #landing-logo {
    width: 22em;
  }

  #landing-box {
    width: 38em;
  }

  /*---------- desktop header ----------*/
  .desktop-nav {
    display: flex;
  }

  /*---------- mobile header ----------*/
  .mobile-nav {
    display: none;
  }
  
  /*---------- home page ----------*/
  .post-card {
    border-radius: 5px;
  }
  
  .post-pic {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .post-header p {
    font-size: 2.4em;
  }
  
  .post-description {
    font-size: 1.8em;
  }
  
  .emoji-button {
    width: 3.4573em;
    height: 3.4573em;
  }
  
  .emoji-button a {
    position: static;
    font-size: 2.5em;
  }
  
  .reaction p {
    font-size: 1.6em;
  }
  
  .comments-length {
    font-size: 1.8em;
  }
  
  .fa-comment-dots {
    font-size: 3.3em;
  }
  
  /*---------- new post page ----------*/
  .new-post-button {
    font-size: 1.8em;
  }
  
  .file-input + label {
    font-size: 4em;
    height: 2.5em;
  }
  
  .file-input + label p {
    font-size: .5em;
  }

  /*---------- userpets page ----------*/
  #user-pets-header {
    margin-top: 7em;
  }
}