<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main id="content">
        <div class="page">
            <div class="postCard">
                <img class="storyPic">
                <p class="petInfo">petInfo</p>
                <p class="userInfo">userInfo</p>
                <p class="userStory">userStory</p>
                <p class="actions">actions</p>
            </div>
        </div>
    </main>
</body>
</html>